{% extends 'base.html.twig' %}

{% block title %}Idea index
{% endblock %}

{% block body %}

	<div class="container">
		<div class="col-8 offset-2 mt-5">
			<h1>Idea index</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Content</th>
						<th>Pseudo</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for idea in ideas %}
						<tr>
							<td>{{ idea.id }}</td>
							<td>{{ idea.title }}</td>
							<td>{{ idea.content }}</td>
							<td>{{ idea.pseudo }}</td>
							<td>
								<a href="{{ path('app_idea_show', {'id': idea.id}) }}" class="btn btn-success">show</a>
								<a href="{{ path('app_idea_edit', {'id': idea.id}) }}" class="btn btn-primary">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('app_idea_new') }}" class="btn btn-primary">Create new</a>
		</div>

	</div>

{% endblock %}
