{% extends 'base.html.twig' %}

{% block title %}Idea index{% endblock %}

{% block body %}
    <h1>Idea index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for idea in ideas %}
            <tr>
                <td>{{ idea.id }}</td>
                <td>{{ idea.title }}</td>
                <td>{{ idea.content }}</td>
                <td>{{ idea.pseudo }}</td>
                <td>
                    <a href="{{ path('app_idea_show', {'id': idea.id}) }}">show</a>
                    <a href="{{ path('app_idea_edit', {'id': idea.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_idea_new') }}">Create new</a>
{% endblock %}
